[Unit]
Description=LGA FMG api Service for deactivating ASIC Offload
After=network.target

[Service]
Type=simple
User=hteibler
WorkingDirectory=/working/lga-fmg
ExecStart=/working/lga-fmg/lga_srv.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target


# https://gist.github.com/funzoneq/737cd5316e525c388d51877fb7f542de
# v1.1
